# Configuration file

##########################################################################################################
# configuration_world
#--------------------------------------------------------------------------------------------------------#
# World configuration 
# Version:0.3.0
#  
# Blocks IDs 
#  
#  
#  
#  
#  
#  
#  
#  
#  
##########################################################################################################

configuration_world {
}


