# Configuration file

##########################################################################################################
# configuration_systems
#--------------------------------------------------------------------------------------------------------#
# Systems configuration 
# Version:0.3.0
#  
##########################################################################################################

configuration_systems {
}


##########################################################################################################
# midge_grow
#--------------------------------------------------------------------------------------------------------#
# Midge Grow to Gnat/Gadfly
##########################################################################################################

midge_grow {
    # Midgegrows to Gadfly Chance on Phase Phase ZERO. 
    # 疫源蠓在阶段零时候进化为恒疫虻的概率。 
    # 蠓は段階 ゼロの時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.01]
    S:"Gadfly Chance Phase 0"=0.01

    # Midgegrows to Gadfly Chance on Phase Phase ONE. 
    # 疫源蠓在阶段壹时候进化为恒疫虻的概率。 
    # 蠓は進化段階 壱の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.02]
    S:"Gadfly Chance Phase 1"=0.02

    # Midgegrows to Gadfly Chance on Phase Phase TEN. 
    # 疫源蠓在阶段拾时候进化为恒疫虻的概率。 
    # 蠓は進化段階 拾の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 1.0]
    S:"Gadfly Chance Phase 10"=1.0

    # Midgegrows to Gadfly Chance on Phase Phase TWO. 
    # 疫源蠓在阶段贰时候进化为恒疫虻的概率。 
    # 蠓は進化段階 弐の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.03]
    S:"Gadfly Chance Phase 2"=0.03

    # Midgegrows to Gadfly Chance on Phase Phase THREE. 
    # 疫源蠓在阶段叁时候进化为恒疫虻的概率。 
    # 蠓は進化段階 参の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.05]
    S:"Gadfly Chance Phase 3"=0.05

    # Midgegrows to Gadfly Chance on Phase Phase FOUR. 
    # 疫源蠓在阶段肆时候进化为恒疫虻的概率。 
    # 蠓は進化段階 四の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.1]
    S:"Gadfly Chance Phase 4"=0.1

    # Midgegrows to Gadfly Chance on Phase Phase FIVE. 
    # 疫源蠓在阶段伍时候进化为恒疫虻的概率。 
    # 蠓は進化段階 五の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.25]
    S:"Gadfly Chance Phase 5"=0.25

    # Midgegrows to Gadfly Chance on Phase Phase SIX. 
    # 疫源蠓在阶段陆时候进化为恒疫虻的概率。 
    # 蠓は進化段階 六の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.55]
    S:"Gadfly Chance Phase 6"=0.55

    # Midgegrows to Gadfly Chance on Phase Phase SEVEN. 
    # 疫源蠓在阶段柒时候进化为恒疫虻的概率。 
    # 蠓は進化段階 七の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.72]
    S:"Gadfly Chance Phase 7"=0.72

    # Midgegrows to Gadfly Chance on Phase Phase EIGHT. 
    # 疫源蠓在阶段捌时候进化为恒疫虻的概率。 
    # 蠓は進化段階 八の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 0.8]
    S:"Gadfly Chance Phase 8"=0.8

    # Midgegrows to Gadfly Chance on Phase Phase NINE. 
    # 疫源蠓在阶段玖时候进化为恒疫虻的概率。 
    # 蠓は進化段階 九の時に虻に進化する。 [range: 0.0 ~ 1.0, default: 1.0]
    S:"Gadfly Chance Phase 9"=1.0
}


##########################################################################################################
# status_effects
#--------------------------------------------------------------------------------------------------------#
# Status effects of the mod
##########################################################################################################

status_effects {
    # Table that will be used for converting mobs, the Rupter will also be using this [default: [minecraft:donkey;srparasites:sim_donkey], [minecraft:mule;srparasites:sim_mule], [suikefoxfriend:fox;srparasites:sim_fox], [minecraft:llama;srparasites:sim_llama], [suikecherry:sniffer;srparasites:sim_sniffer], [oe:glow_squid;srparasites:sim_squidg], [raids:pillager;srparasites:sim_pillager], [twilightforest:deer;srparasites:sim_deer], [twilightforest:wild_boar;srparasites:sim_boar], [twilightforest:bighorn_sheep;srparasites:sim_bighorn]]
    S:"COTH Assimilated Transformation" <
        minecraft:donkey;srparasites:sim_donkey
        minecraft:mule;srparasites:sim_mule
        suikefoxfriend:fox;srparasites:sim_fox
        minecraft:llama;srparasites:sim_llama
        suikecherry:sniffer;srparasites:sim_sniffer
        oe:glow_squid;srparasites:sim_squidg
        raids:pillager;srparasites:sim_pillager
        twilightforest:deer;srparasites:sim_deer
        twilightforest:wild_boar;srparasites:sim_boar
        twilightforest:bighorn_sheep;srparasites:sim_bighorn
     >

    # Table that will be used for hijacking mobs. [default: [minecraft:snowman;srparasites:hi_snow], [minecraft:shulker;srparasites:hi_shulker], [minecraft:breeze;srparasites:hi_breeze], [minecraft:wither_skeleton;srparasites:hi_witherbone]]
    S:"Hijacked Transformation" <
        minecraft:snowman;srparasites:hi_snow
        minecraft:shulker;srparasites:hi_shulker
        minecraft:breeze;srparasites:hi_breeze
        minecraft:wither_skeleton;srparasites:hi_witherbone
     >
}


