# Configuration file

##########################################################################################################
# catch
#--------------------------------------------------------------------------------------------------------#
# ##########################################################################
# #---------------------Scape and Run: Parasites Quark---------------------#
# ##########################################################################
##########################################################################################################

catch {
    # The chance of catching Assimilated Crab(in SRPQ).
    # 被同化的螃蟹（夸克）抓获几率。 [range: 0 ~ 100, default: 100]
    I:"Catch Assimilated Crab Chance"=100

    # Set to false if you want to disable catching Assimilated Crab(in SRPQ).
    # 被同化的螃蟹（夸克）可被抓获。 [default: true]
    B:"Catch Assimilated Crab Enabled"=true

    # The chance of catching Assimilated Frog(in SRPQ).
    # 被同化的青蛙（夸克）抓获几率。 [range: 0 ~ 100, default: 100]
    I:"Catch Assimilated Frog Chance"=100

    # Set to false if you want to disable catching Assimilated Frog(in SRPQ).
    # 被同化的青蛙（夸克）可被抓获。 [default: true]
    B:"Catch Assimilated Frog Enabled"=true

    # The chance of catching Assimilated Ocelot(in SRPE).
    # 被同化的豹猫抓获几率。 [range: 0 ~ 100, default: 100]
    I:"Catch Assimilated Ocelot Chance"=100

    # Set to false if you want to disable catching Assimilated Ocelot(in SRPE).
    # 被同化的豹猫可被抓获。 [default: true]
    B:"Catch Assimilated Ocelot Enabled"=true
}


