# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Параметры расширенной конфигурации для способа изменения функциональности JEI.
##########################################################################################################

advanced {
    S:itemBlacklist <
     >
}


