# Configuration file

general {
    # Custom Entity Track Multipliers.
    # Format: 'entityID,multiplier'. e.g. minecraft:zombie,2.0
    S:CustomEntityTrackMultipliers <
     >

    # List of entity IDs that are exempted from any changes.(tracking distance only)
    # Format: 'entityID'. e.g. minecraft:zombie
    S:"Entity Blacklist" <
        minecraft:item
        minecraft:area_effect_cloud
        minecraft:elder_guardian
        minecraft:wither_skeleton
        minecraft:stray
        minecraft:egg
        minecraft:leash_knot
        minecraft:painting
        minecraft:arrow
        minecraft:snowball
        minecraft:fireball
        minecraft:small_fireball
        minecraft:ender_pearl
        minecraft:eye_of_ender_signal
        minecraft:potion
        minecraft:xp_bottle
        minecraft:item_frame
        minecraft:wither_skull
        minecraft:tnt
        minecraft:falling_block
        minecraft:fireworks_rocket
        minecraft:husk
        minecraft:spectral_arrow
        minecraft:shulker_bullet
        minecraft:dragon_fireball
        minecraft:zombie_villager
        minecraft:skeleton_horse
        minecraft:zombie_horse
        minecraft:armor_stand
        minecraft:donkey
        minecraft:mule
        minecraft:evocation_fangs
        minecraft:evocation_illager
        minecraft:vex
        minecraft:vindication_illager
        minecraft:illusion_illager
        minecraft:commandblock_minecart
        minecraft:boat
        minecraft:minecart
        minecraft:chest_minecart
        minecraft:furnace_minecart
        minecraft:tnt_minecart
        minecraft:hopper_minecart
        minecraft:spawner_minecart
        minecraft:creeper
        minecraft:skeleton
        minecraft:spider
        minecraft:giant
        minecraft:zombie
        minecraft:slime
        minecraft:ghast
        minecraft:zombie_pigman
        minecraft:enderman
        minecraft:cave_spider
        minecraft:silverfish
        minecraft:blaze
        minecraft:magma_cube
        minecraft:ender_dragon
        minecraft:wither
        minecraft:bat
        minecraft:witch
        minecraft:endermite
        minecraft:guardian
        minecraft:shulker
        minecraft:pig
        minecraft:sheep
        minecraft:cow
        minecraft:chicken
        minecraft:squid
        minecraft:wolf
        minecraft:mooshroom
        minecraft:snowman
        minecraft:ocelot
        minecraft:villager_golem
        minecraft:horse
        minecraft:rabbit
        minecraft:polar_bear
        minecraft:llama
        minecraft:llama_spit
        minecraft:parrot
        minecraft:villager
        minecraft:ender_crystal
        thermalfoundation:blizz
        thermalfoundation:blitz
        thermalfoundation:basalz
        thermalfoundation:blizz_bolt
        thermalfoundation:blitz_bolt
        thermalfoundation:basalz_bolt
        thermalexpansion:florb
        thermalexpansion:morb
        sapturretmod:turret
        sapturretmod:projectile
        dynamictrees:falling_tree
        srparasites:sim_bigspider
        srparasites:sim_squid
        srparasites:sim_human
        srparasites:sim_cow
        srparasites:sim_sheep
        srparasites:sim_wolf
        srparasites:sim_pig
        srparasites:sim_villager
        srparasites:sim_adventurer
        srparasites:sim_horse
        srparasites:sim_bear
        srparasites:sim_enderman
        srparasites:sim_dragone
        srparasites:sim_sheephead
        srparasites:sim_wolfhead
        srparasites:sim_cowhead
        srparasites:sim_pighead
        srparasites:sim_villagerhead
        srparasites:sim_horsehead
        srparasites:sim_humanhead
        srparasites:sim_endermanhead
        srparasites:sim_dragonehead
        srparasites:sim_adventurerhead
        srparasites:fer_bear
        srparasites:fer_cow
        srparasites:fer_enderman
        srparasites:fer_horse
        srparasites:fer_human
        srparasites:fer_pig
        srparasites:fer_sheep
        srparasites:fer_villager
        srparasites:fer_wolf
        srparasites:hi_blaze
        srparasites:hi_golem
        srparasites:hi_skeleton
        srparasites:carrier_heavy
        srparasites:carrier_light
        srparasites:buglin
        srparasites:carrier_flying
        srparasites:rupter
        srparasites:movingflesh
        srparasites:worker
        srparasites:mangler
        srparasites:gnat
        srparasites:beckon_si
        srparasites:beckon_sii
        srparasites:beckon_siii
        srparasites:beckon_siv
        srparasites:dispatcherten
        srparasites:dispatcher_si
        srparasites:dispatcher_sii
        srparasites:dispatcher_siii
        srparasites:dispatcher_siv
        srparasites:kyphosis
        srparasites:sentry
        srparasites:seizer
        srparasites:worm
        srparasites:incompleteform_small
        srparasites:incompleteform_medium
        srparasites:host
        srparasites:hostii
        srparasites:heed
        srparasites:crux
        srparasites:thrall
        srparasites:pri_longarms
        srparasites:pri_manducater
        srparasites:pri_reeker
        srparasites:pri_yelloweye
        srparasites:pri_summoner
        srparasites:pri_bolster
        srparasites:pri_tozoon
        srparasites:pri_arachnida
        srparasites:pri_devourer
        srparasites:pri_vermin
        srparasites:ada_longarms
        srparasites:ada_manducater
        srparasites:ada_reeker
        srparasites:ada_yelloweye
        srparasites:ada_summoner
        srparasites:ada_bolster
        srparasites:ada_arachnida
        srparasites:overseer
        srparasites:vigilante
        srparasites:warden
        srparasites:bomber_light
        srparasites:marauder
        srparasites:monarch
        srparasites:grunt
        srparasites:bomber_heavy
        srparasites:wraith
        srparasites:bogle
        srparasites:haunter
        srparasites:carrier_colony
        srparasites:succor
        srparasites:seeker
        srparasites:architect
        srparasites:anc_dreadnaut
        srparasites:anc_overlord
        srparasites:anc_pod
        srparasites:anc_dreadnaut_ten
        srparasites:pullingball
        srparasites:webball
        srparasites:spineball
        srparasites:nadeball
        srparasites:salivaball
        srparasites:ballball
        srparasites:ancientball
        srparasites:homming
        srparasites:antiinfestedblock
        srparasites:biomassball
        srparasites:missile
        srparasites:balltall
        srparasites:ballmall
        srparasites:orb
        srparasites:source
        srparasites:remain
        srparasites:bomb
        srparasites:cloudtoxic
        srparasites:biomass
        srparasites:gore
        srparasites:tendril
        srparasites:scent
        srparasites:wave
        srparasites:waveshock
        srparasites:nade
        srparasites:midge
        srparasites:gadfly
        srparasites:prentice
        srparasites:artisan
        srparasites:egg
        srparasites:carrier_micro
        srparasites:sim_bigspiderhead
        srparasites:fer_bigspider
        srparasites:sim_donkey
        srparasites:sim_donkeyhead
        srparasites:fer_donkey
        srparasites:sim_mule
        srparasites:sim_mulehead
        srparasites:fer_mule
        srparasites:sim_bearhead
        srparasites:sim_fox
        srparasites:sim_foxhead
        srparasites:fer_fox
        srparasites:sim_llama
        srparasites:sim_llamahead
        srparasites:fer_llama
        srparasites:sim_squidhead
        srparasites:fer_squid
        srparasites:sim_squidg
        srparasites:sim_squidghead
        srparasites:fer_squidg
        srparasites:sim_pillager
        srparasites:sim_pillagerhead
        srparasites:fer_pillager
        srparasites:hi_snow
        srparasites:hi_shulker
        srparasites:hi_witherbone
        srparasites:hi_carminite
        srpcalamity:skatter
        srparasites:folk
        srparasites:wick
        srparasites:vesicle
        srparasites:nucleus
        srparasites:magicking_flesh
        srparasites:pri_harvester
        srparasites:pri_ginger
        srparasites:pri_phobia
        srparasites:pri_chilopoda
        srparasites:ada_chilopoda
        srparasites:anc_bomber
        srparasites:simender_pearl
        srparasites:cage
        srparasites:anc_bomb
        srparasites:midge_shot
        srparasites:infested_boat
        srparasites:infested_chest_boat
        srparasites:consumed_raft
        srparasites:consumed_chest_raft
        srparasites:bruisewood_boat
        srparasites:bruisewood_chest_boat
        srparasites:veinwood_boat
        srparasites:veinwood_chest_boat
        srparasites:darkwood_boat
        srparasites:darkwood_chest_boat
        srparasites:liveroot_boat
        srparasites:liveroot_chest_boat
        srpcotesia:latch
        srpcotesia:factory
        srpcotesia:factory_item
        srpcotesia:thrown_sac
        srpcotesia:cloud
        srpcotesia:mote
        srpcotesia:clutch
        srpcotesia:auric_lightning_bolt
        srparasites:sim_witch
        srparasites:sim_witchhead
        srparasites:sim_vindicator
        srparasites:sim_vindicatorhead
        srparasites:sim_evoker
        srparasites:sim_ocelot
        srparasites:sim_ocelothead
        srparasites:hi_creeper
        srparasites:hi_creeperhead
        srparasites:hi_skeleton_srpe
        srparasites:hi_stray
        srparasites:hi_skeletonhead
        srparasites:fer_wolf_srpe
        srparasites:fer_ocelot
        srparasites:fer_witch
        srparasites:fer_adventurer
        srparasites:wendigo
        srparasites:swimming_flesh
        srparasites:pri_stalker
        srparasites:ada_vermin
        srparasites:ada_tozoon
        srparasites:ada_stalker
        srparasites:tendril_stalker
        srparasites:tendril_tozoon
        srparasites:remain_aqua
        srparasites:gore_aqua
        srparasites:parasite_fangs
        srparasites:swimmer
        srparasites:leecher
        srparasites:plankton
        srparasites:carrier_sea
        srparasites:bomber_mini
        srparasites:sim_drowned
        srparasites:sim_dolphin
        srparasites:fer_dolphin
        srparasites:sim_dolphin_head
        srparasites:sim_fish
        srparasites:fer_fish
        srparasites:hi_guardian
        srparasites:hi_elder_guardian
        srparasites:pri_hammerhead
        srparasites:ada_hammerhead
        srparasites:ada_devourer
        srparasites:tendril_hammerhead
        srparasites:sprouter_si
        srparasites:sprouter_sii
        srparasites:sprouter_siii
        srparasites:sprouter_siv
        srparasites:supporter
        modularwarfare:bullethole
        modularwarfare:shell
        modularwarfare:itemloot
        modularwarfare:grenade
        modularwarfare:smoke_grenade
        modularwarfare:stun_grenade
        modularwarfare:gas_grenade
        modularwarfare:explosive_projectile
        modularwarfare:thrower_projectile
        modularwarfare:custom_fire
        nocubessrparmory:entitybullettwistedbow
        nocubessrparmory:entitybulletpestilentshuriken
        nocubessrparmory:entitybulletpestilentmiasm
        nocubessrparmory:entitybullethostbomb
        nocubessrparmory:entitybulletgorecombatbow
        nocubessrparmory:entitybullethosttentacle
        nocubessrparmory:entitybulletevolutionbow
        nocubessrparmory:entitybulletplasmatorch
        nocubessrparmory:entitybulletflamethrower
        nocubessrparmory:entitybulletincinerator
        nocubessrparmory:entitybulletoverlordblade
        nocubessrparmory:entitybullettwistedbomb
        nocubessrparmory:entitybulletheadbomb
        nocubessrpnests:entitybulletwormtoothknife
        nocubessrpnests:entitybulletspawnparasitenest
        nocubessrpnests:entitybulletspawnfleshworm
        nocubessrpsurvival:entitybulletrottenegg
        nocubessrpsurvival:entitybulletbuglinlarva
        thermaldynamics:transport
     >

    # Multiplier for global entity render distance. Default is 1.0D (100%)
    # Min: 0.0
    # Max: 5.0
    D:"Render Distance Multiplier"=4.0

    # Multiplier for entity track distance. Default is 1.0D (100%)
    # Min: 0.0
    # Max: 5.0
    D:"Track Distance Multiplier"=4.0

    # Whether to use the Mod GUI. Default is true.
    B:"Use Mod GUI"=true

    # Set to true to treat the 'blackList' as a whitelist (only entities in the list are affected). Set to false to treat it as a blacklist.
    B:Whitelist=true

    entitysettings {
        # Multiplier for animal track distance.
        # Min: 0.0
        # Max: 5.0
        D:"Animal Track Multiplier"=0.25

        # Set to true to enable the Animal Track Multiplier.
        B:"Enable Animal Track Multiplier"=false

        # Set to true to enable the Mob Track Multiplier.
        B:"Enable Mob Track Multiplier"=false

        # Set to true to enable the NonLiving Entity Track Multiplier.
        B:"Enable NonLiving Entity Track Multiplier"=false

        # Set to true to enable the Player Entity Track Multiplier.
        B:"Enable Player Entity Track Multiplier"=false

        # Multiplier for mob track distance.
        # Min: 0.0
        # Max: 5.0
        D:"Mob Track Multiplier"=0.6

        # Multiplier for non-living entity track distance.
        # Min: 0.0
        # Max: 5.0
        D:"NonLiving Entity Track Multiplier"=0.5

        # Multiplier for player entity track distance.
        # Min: 0.0
        # Max: 5.0
        D:"Player Entity Track Multiplier"=1.5
    }

}


