# Configuration file

##########################################################################################################
# clientside
#--------------------------------------------------------------------------------------------------------#
# Clientside options, can be changed when playing on a server
##########################################################################################################

clientside {
    # Enable Death Effects, pure clientside check. [default: true]
    B:EnableDeathEffects=true

    # Enable the gore Death Effect, requires DeathEffects to be enabled, pure clientside check. [default: true]
    B:EnableGoreDeathEffect=true

    # Use GPU instanced draw for camera-facing particles (requires GL_ARB_draw_instanced). Clientside. [default: true]
    B:EnableInstancedParticleRendering=true

    # Cache block light lookups for ALPHA_SHADED particles (same block shares one query per frame). Clientside. [default: true]
    B:EnableParticleLightCache=true

    # Deprecated: depth sorting is now done per texture bucket at render time. Leave at 0. [range: 0 ~ 20, default: 0]
    I:ParticleDepthSortPasses=10
}


general {
    # Enable debug options and unfinished stuff, disable this for playing. [default: false]
    B:debug=false
}


