# Configuration file

##########################################################################################################
# clientside
#--------------------------------------------------------------------------------------------------------#
# Clientside options, can be changed when playing on a server
##########################################################################################################

clientside {
    # Enable Death Effects, pure clientside check. [default: true]
    B:EnableDeathEffects=true

    # Enable the gore Death Effect, requires DeathEffects to be enabled, pure clientside check. [default: true]
    B:EnableGoreDeathEffect=true

    # How many bubble sort passes should be performed each tick on particles. 0=off. Clientside [range: 0 ~ 20, default: 10]
    I:ParticleDepthSortPasses=10
}


general {
    # Enable debug options and unfinished stuff, disable this for playing. [default: false]
    B:debug=false
}


