# Configuration file

general {
    B:development=false
    B:generateFeatures=true
    B:geodeGenerate=true
    I:honeDuplexBase=50
    I:honeDuplexIntegrityMultiplier=30
    I:honeSwordBase=50
    I:honeSwordIntegrityMultiplier=30
    I:maxFeatureDepth=10
    B:moduleProgression=true
    I:settleLimitBase=100
    D:settleLimitDurabilityMultiplier=0.5
    D:settleLimitLevelMultiplier=3.0
    B:workbenchDropTable=true
}


