# Configuration file

general {
    # Should the mod generate an example content pack with recipes on first launch? [default: true]
    B:"Generate Example Pack"=false
}


##########################################################################################################
# global airdrops
#--------------------------------------------------------------------------------------------------------#
# Settings for automatic global airdrops in the world
##########################################################################################################

"global airdrops" {
    # List of allowed loot tables (e.g. 'military_loot'). Leave empty to allow any. [default: ]
    S:"Allowed Loot Tables" <
     >

    # Enable automatic global airdrops? [default: false]
    B:Enabled=false

    # How many in-game days between global airdrops? [range: 1 ~ 100, default: 3]
    I:"Interval (Days)"=3

    # Maximum radius from a random player to spawn the drop [range: 50 ~ 10000, default: 500]
    I:"Max Radius"=500

    # Minimum radius from a random player to spawn the drop [range: 10 ~ 10000, default: 100]
    I:"Min Radius"=100
}


##########################################################################################################
# workbench recipe
#--------------------------------------------------------------------------------------------------------#
# Settings for the Custom Workbench crafting recipe
##########################################################################################################

"workbench recipe" {
    # Map of characters in the shape to items or ore dictionary entries (Format -> 'Char:modid:item' OR 'Char:ore:oreDictName') [default: [B:minecraft:iron_block], [C:minecraft:crafting_table], [I:ore:ingotIron], [A:minecraft:anvil]]
    S:"Recipe Keys" <
        B:minecraft:iron_block
        C:minecraft:crafting_table
        I:ore:ingotIron
        A:minecraft:anvil
     >

    # 3x3 crafting grid pattern for the custom workbench [default: [BCB], [IAI], [I I]]
    S:"Recipe Shape" <
        BCB
        IAI
        I I
     >
}


