# Configuration file

##########################################################################################################
# configuration_tf_general
#--------------------------------------------------------------------------------------------------------#
# [Scape&Run-Parasites : Twilight Forest] General configuration 
# Version:0.3.0
# 
#  
##########################################################################################################

configuration_tf_general {
    # Set to true if you want to play SRP:TF independently. [default: false]
    B:"Enable without Load Twilight Forest"=false
}


